<div{{attributes.defaults(stimulus_controller('game',{mercureUrl:mercure('game'),}))}}
    class="board">
    <div
        class="game"
        style="--width:{{ width }}; --height: {{ height }}"
        {% if onPlay %}
            data-action="
            keydown.left@document->game#moveLeft:prevent
            keydown.right@document->game#moveRight:prevent
            keydown.down@document->game#moveDown:prevent
            keydown.q@document->game#rotateLeft:prevent
            keydown.d@document->game#rotateRight:prevent"
        {% endif %}
        >
        {% for tetromino in tetrominos %}
            <twig:Tetromino
                :tetromino="tetromino"/>
        {% endfor %}
    </div>
    <div>
        <div
            class="left">
            <div>
                <span>Score</span>
                {{ score }}</div>
            <div>
                <span>Level</span>
                {{ level}}</div>
            <div>
                <span>Lines</span>
                {{ lines}}</div>
            <div>
                <span>Next</span>
                <div
                    class="next">
                    <twig:Tetromino
                        :tetromino="nextTetromino"/>
                </div>
            </div>
        </div>
    </div>
</div>
