<div {{attributes.defaults(stimulus_controller('loop', {
        mercureUrl: mercure('start'),
    }))}}
class="game-wrapper"
{% if onPlay %}
    data-poll="delay({{delay}})|loop"
{% endif %}
>
    {% if config %}
        <twig:GameInfo :multiplayer="multiplayer" :pause="pause" :gameName="gameName" />
    {% else %}
        <twig:Configuration :multiplayer="multiplayer" />    
    {% endif %}

    {% if otherPlayer is not null and pause and not winner %}
        <twig:ConfirmMulti :otherPlayer="otherPlayer" :multiplayer="multiplayer" />    
    {% endif %}
    
    <div class="gameboard {{ not  onPlay ? 'pause' }} {{ gameOver ? 'gameover' }} {{ multiplayer and not onPlay ? 'waiting' }} {{ winner and not gameOver ? 'youwin' }}">      
        <twig:Game :player="player" :gameName="gameName" :onPlay="onPlay" />
    </div>
</div> 
